

# Look into all folders
!code/
!analyses/
!data/


# Ignore all sequence and alignment data everywhere
*.fastq.gz
*.fq.gz
*.fasta
*.fa
*.bam
*.sam

# Ignore SLURM output logs
*.out
*.err
*.job
*.sh.*


# Dont show assembly output
**/run1/
**/canu_results/
data/raw_data/

# Exceptions 
!**/*.html
!**/*.zip
!**/*.sh




